html {
    height: 100%
}

body {
    margin: 0;
    background: rgb(33, 47, 87);
    height: 100%;
    width: 100%;
    display: flex;
}

.calculator-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.calculator-wrap {
    flex: 1 1 220px;;
    height: 80%;
    display: flex;;
}

.calc-spacer {
    flex: 3 3 auto;
}

.calculator {
    background-color: rgb(204, 204, 216);
    display: flex;
    flex: 1;
    align-items: space-between;
    padding: 22px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 2px 20px rgb(38, 26, 80);
}

.interface {
    width: 100%;
    height: 100%;
    /* background-color: rgb(109, 109, 109); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

.display {
    background-color: aliceblue;
    border: 1px solid rgb(170, 160, 160);
    border-radius: 5px;
    flex: .20;
    border-bottom: none;
    font-size: 1.5em;
    padding: 5px;
}


.sign-display {
    background-color: aliceblue;
    border: 1px solid rgb(170, 160, 160);
    border-top: none;
    flex: .10 0 27px;
    margin: 0 0 auto;
    text-align: right;
    font-size: 1.5em;
    padding: 5px;
}
.buttons {
    /* background-color: gray; */
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    margin-top: 10%;
}

.button {
    background-color: rgb(207, 207, 207);
    border: 1px solid rgb(158, 157, 167);
    border-radius: 10px;
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px rgb(36, 36, 36);
    z-index: 1;
}

.button:hover {
    position: relative;
    bottom: 2px;
    filter: brightness(105%);
}

.button:active {
    position: relative;
    top:2px;
    z-index: 0;
    filter: brightness(95%);
}

.period {
    background-color: rgb(181, 177, 177);
}
.special.clear {
    background-color: rgb(212, 78, 78);
    grid-column: 1/3;
}

.equals {
    grid-column: 3/5;
}

.special {
    background-color: rgb(181, 177, 177);
    border-color:rgb(126, 118, 118)
}

.backspace {
    background-color: rgb(212, 78, 78);
}

.buttons .clear, .backspace {
    border-color:rgb(155, 14, 14)
}
